.register-page-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f4f4f4;
}

.registration-page {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.registration-page h1 {
  text-align: center;
}
.input-Register {
  width: 80%;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-bottom-color 0.3s;
  margin-bottom: 20px;
}
.input-container {
  margin-left: 30px;
}
.input-text:focus {
  outline: none;
  border-color: #007bff;
}
.user-Register {
  background-color: #2d3238;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.3s;
}
.user-Register :hover {
  background-color: #000000;
}
fieldset {
  border: none !important;
}
.country-select {
  margin-left: 22px !important;
  width: 288px !important;
}
.country-select1 {
  margin-left: 35px !important;
  width: 290px !important;
}
