.account-Data {
  margin-left: 30px;
}

.account-table {
  width: 800px;
  border-collapse: collapse;
}

.account-table td {
  border: 1px solid #b9b6b6;
  padding: 8px;
}

.account-table tr:hover {
  background-color: #ddd;
}
