.form-container {
  padding: 20px;
}

.form-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.select-box {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.date-width {
  width: 250px;
}

.input-row input[type='number']::-webkit-inner-spin-button,
.input-row input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-row input[type='number'] {
  -moz-appearance: textfield;
}
.loandate {
  width: 100px;
}
.input-container {
  margin: 20px 20px !important;
}

.input-row input:disabled {
  background-color: #bbb3b3;
}

.right-loan {
  margin-top: 30px;
  margin-left: 700px;
  width: 280px !important;
}
