.sidebar {
  width: 250px;
  height: 600px;
  background-color: rgb(107 102 107);
  color: snow;
}
.siderbar-section {
  padding: 20px;
}
.menu-item {
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

.menu-item:hover {
  background-color: #555;
  color: white;
}
